        /* Estilos Base */
body {
    background-color: #000;
    color: #FFF;
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #00005A;
    padding: 25px 0;
    text-align: center;
    border-bottom: 3px solid #00FFFF;
}

header h1 {
    color: #00FFFF;
    margin: 0;
    font-size: 2.2em;
    text-shadow: 0 0 8px rgba(0, 255, 255, 0.6);
}

        .container {
            border: 2px solid cyan;
            border-radius: 10px;
            padding: 20px;
            margin: 20px auto;
            width: 1000px;
        }
        section {
            border: 2px solid cyan;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 20px;
            witdh: 900px;
        }
        h2, h3 {
            color: cyan;
        }
        p {
            color: white;
        }
        ul.commands li {
            margin: 8px 0;
            list-style-type: none;
            padding-left: 0;
        }
        ul.commands a {
            color: cyan;
            text-decoration: none;
        }
        ul.commands a:hover {
            text-decoration: underline;
        }
        pre {
            background-color: #444;
            padding: 10px;
            border-radius: 5px;
            overflow-x: auto;
        }
        code {
            color: #00ff00; /* verde-vivo */
        }
        footer {
            background-color: #001f3f;
            color: white;
            text-align: center;
            padding: 15px;
        }
        .topo {
            text-align: right;
            margin-top: 20px;
        }
        .topo a {
            color: cyan;
            text-decoration: none;
            font-weight: bold;
        }
        .topo a:hover {
            text-decoration: underline;
        }
        .links-externos {
            margin-top: 20px;
        }
        .links-externos a {
            color: limegreen;
            text-decoration: none;
        }
        .links-externos a:hover {
            text-decoration: underline;
        }
