/* Estilos gerais */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #001f3f;
    padding: 20px;
    text-align: center;
}

h1 {
    color: cyan;
}

/* Container principal */
.container {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid cyan;
    border-radius: 10px;
    background-color: #121212;
}

/* Seções */
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid cyan;
    border-radius: 10px;
}

/* Títulos */
h2 {
    color: cyan;
}

/* Parágrafos */
p {
    color: white;
}

/* Código */
pre {
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    color: #00ff00;
    font-family: monospace;
}

.command-list {
    list-style: none;
    padding: 0;
}

.command-list li {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.command-list pre {
    padding: 5px;
    margin: 0;
    font-size: 14px;
    font-family: monospace;
}

/* Cor verde para comandos */
.command {
    color: #00ff00;
}

/* Cor branca para os comentários */
.comment {
    margin-left: 10px;
    color: white;
    font-size: 14px;
}
