       body {
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: cyan;
            text-align: center;
            margin-bottom: 20px;
        }
        .container {
            width: 900px;
            margin: auto;
            padding: 20px;
            border: 2px solid cyan;
            border-radius: 10px;
        }
        section {
            margin-bottom: 20px;
            padding: 10px;
            border: 2px solid cyan;
            border-radius: 10px;
        }
        h2, h3 {
            color: cyan;
        }
        p {
            color: white;
        }
        pre {
            background-color: #333;
            padding: 10px;
            border-radius: 5px;
            overflow-x: auto;
        }
        code {
            color: lime;
            font-weight: bold;
        }

