body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #00ffcc;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1, h2 {
    color: #00ffcc;
    text-align: center;
    margin: 20px auto;
}

p {
  color: white;
}

.image-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

main {
    width: 100%;
    max-width: 850px;
    margin: auto;
}

footer {
    background-color: #003333;
    color: #00ffcc;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 1px solid #00ffcc;
    width: 100%;
}
